@import '../../variables.scss';

.container {
  position: relative;
  width: 250px;

  input {
    width: 100%;
    padding: 10px;
    background-color: $indigoDye;
    border: 2px solid $carolineBlue;
    border-radius: 5px;
    outline: none;
    color: $mediumTurquoise;
    font-family: Verdana, serif;

    &:focus, &:valid {
      ~ span {
        color: $indigoDye;
        transform: translate(10px, -7px);
        font-size: 0.8em;
        padding: 0 10px;
        background-color: $mediumTurquoise;
        border-radius: 3px;
      }
    }
  }

  span {
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    pointer-events: none;
    color: $carolineBlue;
    transition: 0.3s ease;
    user-select: none;
  }
}

.display {
  display: flex;
}
