@import "../../variables";

.container {
  width: 90%;
  font-size: 1.7em;
  max-height: 800px;
  overflow-y: scroll;

  .grid {
    border: 1px solid $mediumTurquoise;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    span {
      padding: 20px 0;
      border: 1px solid $mediumTurquoise;
    }

    .heading {
      font-weight: bold;
    }

    .lastRow {
      grid-column: 1 / span 3;
    }
  }
  &::-webkit-scrollbar {
    width: 0.5em;
    border: none;
  }

  &::-webkit-scrollbar-thumb {
    background: $indigoDye;
    border-radius: 50px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: $carolineBlue;
  }
}
